<!DOCTYPE html>
<html>
  <head>
    <title>SpoonLibrary</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'store', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>

  </head>

  <body>
    <div class="wrapper">
        <!-- Sidebar Holder -->
        <nav id="sidebar">
            <div class="sidebar-header">
                <h3><a href="/store">Spoon Library</a></h3>
            </div>

            <ul class="list-unstyled components">
                <p>General</p>
                <li class="active">
                    <a href="<%= store_index_path %>">Store</a>
                </li>
                <li>
                    <a href="<%= edit_user_registration_path %>">Profile</a>
                </li>
                <li>
                    <a href="#logSubmenu" data-toggle="collapse" aria-expanded="false" class="dropdown-toggle">Logs</a>
                    <ul class="collapse list-unstyled" id="logSubmenu">
                        <li>
                            <a href="<%= loans_path %>">Loan</a>
                        </li>
                        <li>
                            <a href="<%= returns_path %>">Return</a>
                        </li>
                    </ul>
                </li>
            </ul>
        </nav>

        <!-- Page Content Holder -->
        <div id="content">

            <nav class="navbar navbar-expand-lg navbar-light bg-light">
                <div class="container-fluid">

                    <button type="button" id="sidebarCollapse" class="navbar-btn">
                        <span></span>
                        <span></span>
                        <span></span>
                    </button>

                    <div class="nav-profile pull-right">
                        <div class="dropdown">
                            <button class="btn btn-default dropdown-toggle" type="button" id="profileNavMenu" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
                                <%= current_user.username %>
                                <span class="caret"></span>
                            </button>
                            <ul class="dropdown-menu" aria-labelledby="profileNavMenu">
                                <li><%= link_to 'Logout', destroy_user_session_path, method: :delete %></li>
                            </ul>
                        </div>
                    </div>
                    <% if current_user.admin? %>
                      <a class="btn btn-small btn-default pull-right m-t-10 m-r-5" href="<%= admin_root_path %>">Go to Admin</a>   
                    <% end %>
                </div>
            </nav>
            
            <%= yield %>
        </div>
    </div>
    <script type="text/javascript">
        $(document).ready(function () {
            $('#sidebarCollapse').on('click', function () {
                $('#sidebar').toggleClass('active');
                $(this).toggleClass('active');
            });
        });
    </script> 
  </body>
</html>